<app-navg></app-navg>
<div class="site">
  <div class="content">
    <div class="container con-front">
      <div class="row">
        <div class="col-md-4 offset-md-1 d1">{{this.confgirationssss.frontcontent.title}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-1 d1">{{this.confgirationssss.frontcontent.describtion}}</div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-5"><a routerLink="/contact-us">START</a></div>
      </div>
    </div>
  </div>
</div>
